doctype html
html.
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
  </head>
  <body>
    <div class="container" id="root">
      <div class="row">
        <div class="col">
          <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">Clients</a>
            <ul class="nav nav-pills">
              <li class="nav-item">
                <button
                  type="button"
                  class="btn btn-outline-primary"
                  data-toggle="modal"
                  data-target="#clientForm"
                  v-on:click="fillCreateClientForm()"
                >
                  New Client
                </button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="table-responsive">
            <table class="table border">
              <thead>
                <tr class="text-center">
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Providers</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="client in clients">
                  <td>{{client.name}}</td>
                  <td>{{client.email}}</td>
                  <td>{{client.phone}}</td>
                  <td>{{clientsProvidersNames[client._id]}}</td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-link"
                      data-toggle="modal"
                      data-target="#clientForm"
                      v-on:click="fillEditClientForm(client)"
                    >
                      Edit
                    </button>
                    <br>
                    <button
                      type="button"
                      class="btn btn-link"
                      data-target="#clientForm"
                      v-on:click="sendDeleteClient(client)"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


      <div
        class="modal fade"
        id="clientForm"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Client</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="name">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="Enter your name"
                    v-model="client.name"
                  >
                </div>

                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="Enter email"
                    v-model="client.email"
                  >
                </div>

                <div class="form-group">
                  <label for="phone">Phone</label>
                  <input
                    type="text"
                    class="form-control"
                    id="phone"
                    placeholder="Enter your phone"
                    v-model="client.phone"
                  >
                </div>

                <label for="providers">Providers</label>
                <div class="input-group mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="provider"
                    placeholder="Provider's name"
                    v-model="provider.name"
                  >
                  <div class="input-group-append">
                    <button
                      type="button"
                      class="btn btn-outline-secondary"
                      v-if="createProviderButton"
                      v-on:click="sendForm('createProvider')"
                    >
                      Add
                    </button>
                    <button
                      type="button"
                      class="btn btn-outline-secondary"
                      v-if="updateProviderButton"
                      v-on:click="sendForm('updateProvider')"
                    >
                      Update
                    </button>
                    <button
                      type="button"
                      class="btn btn-outline-secondary"
                      v-if="updateProviderButton"
                      v-on:click="setProviderButton('create')"
                    >
                      Cancel
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-10 offset-1">
                    <table class="table table-sm border">
                      <tbody>
                        <tr v-for="provider in currentClientProviders">
                          <td class="border-0">
                            <input
                              type="checkbox"
                              value="test"
                              :id="provider._id"
                              :checked="provider.state"
                              @click="changeClientProviderState(provider)"
                            >
                          </td>
                          <td class="border-0">{{provider.name}}</td>
                          <td class="border-0 text-right">
                            <button
                              type="button"
                              class="btn btn-sm btn-link"
                              @click="setProviderButton('edit', provider)"
                            >
                              <img
                                class="glyph-icon"
                                src="icons/si-glyph-edit.svg"/
                              >
                            </button>
                            <button
                              type="button"
                              class="btn btn-sm btn-link"
                              v-on:click="sendDeleteProvider(provider)"
                            >
                              <img
                                class="glyph-icon"
                                src="icons/si-glyph-trash.svg"/
                              >
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </form>
            </div>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-danger mr-auto float-left"
                data-dismiss="modal"
                v-on:click="sendDeleteClient(client)"
              >
                Delete
              </button>
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                v-on:click="sendForm()"
                data-dismiss="modal"
              >
                Save
              </button>
            </div>
          </div>
        </div>
      </div>


    </div>

    <script src="/libs/jquery-3.3.1.js"></script>
    <script src="/libs/bootstrap.js"></script>
    <script src="/libs/vue.js"></script>
    <script src="/libs/axios.min.js"></script>
    <script src="/js/spa.js"></script>
  </body>
